body {
  background-color: #7a7ab8;}
.king-d {
  background-image: url(/images/K2.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
